@model TP3_HerreraLeonel.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Inicio";
}
@Html.Partial("_NavAdminPartial")
<div class="text-center">
    <div class="alert alert-secondary" role="alert">
        @if (Model.usuario != null)
        {
            <h1 class="display-4"
                style="font-family:Impact">
                ¡BIENVENIDO AL SISTEMA @Model.usuario.Username!
            </h1>
        }
        else
        {
            <h1 class="display-4"
                style="font-family:Impact">
                ¡BIENVENIDO AL SISTEMA!
            </h1>
        }
    </div>

</div>

